<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show users</title>
    <style>
      table,
      th,
      tr,
      td {
        border: 1px solid black;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>All users data</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>EMAIL</th>
        <th>USERNAME</th>
      </tr>
      <% for( let i = 0; i < users.length; i++ ) { %>
      <tr>
        <td><%= users[i].id %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].username %></td>
        <td>
          <form method="GET" action="/user/<%= users[i].id  %>/edit">
            <button>Edit username</button>
          </form>
        </td>
      </tr>

      <% } %>
    </table>
  </body>
</html>
